@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0 0 0 0;
  font-family: "Poppins", sans-serif;
}

.app {
  height: 100vh;
}

button {
  cursor: pointer;
  transition: 0.5s;
}
