.homepage {
  height: 90%;
  background-color: #7ed091;
}

.small-box {
  height: 35vh;
  width: 35vw;
  margin-top: 1%;
  background-color: white;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.small-box button {
  padding: 30px 50px 30px 50px;
  margin-top: 1%;
  border-radius: 10px;
  border: 0px;
  background-color: #4a7f66;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.small-box button:hover {
  background-color: white;
  color: #7ed091;
  border: 3px #7ed091 solid;
}

.large-box {
  height: 45vh;
  width: 80vw;
  margin-top: 2%;
  background-color: white;
  border-radius: 40px;
  margin-left: 10vw;
}
.store-item-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}
.store-item {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe;
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.store-item button {
  height: 70px;
  width: 200px;
  border: 0px;
  background-color: #4a7f66;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
